<form action="{{ endpointUrl }}" method="post">

    <input type="hidden" name="cmd" value="_donations" />
    <input type="hidden" name="business" value="{{ merchantId }}" />
    <input type="hidden" name="custom" value="{{ orderId }}" />

    <input type="hidden" name="charset" value="utf-8" />
    <input type="hidden" name="return" value="{{ returnUrl }}" />
    <input type="hidden" name="notify_url" value="{{ notifyUrl }}" />
    <input type="hidden" name="cancel_return" value="{{ cancelReturnUrl }}" />

    <input type="hidden" name="item_name" value="{{ purpose }}" />

    <input type="hidden" name="currency_code" value="{{ currencyCode }}" />

    <input type="hidden" name="amount" value="{{ total }}" />

    <input type="hidden" name="first_name" value="{{ firstName }}" />
    <input type="hidden" name="last_name" value="{{ lastName }}" />

    <input type="hidden" name="lc" value="RU" />
    <input type="hidden" name="country" value="BY" />

    <input type="hidden" name="address1" value="" />
    <input type="hidden" name="address2" value="" />
    <input type="hidden" name="city" value="">
    <input type="hidden" name="state" value="">
    <input type="hidden" name="zip" value="">
    <input type="hidden" name="email" value="{{ email }}">

    <input type="image" name="submit" border="0"
           src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
           alt="PayPal - The safer, easier way to pay online">

</form>